<!DOCTYPE html>

<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="/static/styles.css" rel="stylesheet" />
    <title>Birthdays</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Birthdays</h1>
    </div>
    <div class="container">
      <div class="section">
        <h2>Add a Birthday</h2>
        <!-- TODO: Create a form for users to submit a name, a month, and a day -->
        <form action="/" method="POST">
          <label for="name">Nome:</label>
          <input type="text" id="name" name="name" required />
          <label for="month">Mês de Aniversário:</label>
          <input type="text" id="month" name="month" required />
          <label for="day">Dia de Aniversário:</label>
          <input type="text" id="day" name="day" required />
          <input type="submit" value="Adicionar Aniversário" />
        </form>
      </div>

      <div class="section">
        <h2>All Birthdays</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Birthday</th>
            </tr>
          </thead>
          <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Aniversário</th>
                </tr>
              </thead>
              <tbody>
                {% for birthday in birthdays %}
                <tr>
                  <td>{{ birthday.name }}</td>
                  <td>{{ birthday.month }}/{{ birthday.day }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
