/* Estilos específicos do blog */
.post {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  font-size: 24px;
}

.post p {
  font-size: 16px;
  color: #555;
}
